{{ define "nav" }}
  <li><a href="#fahrplan">Fahrplan</a></li>
  <li><a href="#raume">Räume</a></li>
  <li><a href="mailto:kontakt@freiraumfest.at">Kontakt</a></li>
{{ end }}
{{ define "main" }}
  <center class="intro section backgrounded-section full-page">
    <h1>Das Fest</h1>
    <h2>kurzer Leitsatz und Logo oder einladende Grafik als Header</h2>
    <div class="flex-center">
      <a href="mailto:kontakt@freiraumfest.at" class="btn">Kontakt</a>
      <a href="#fahrplan" class="btn">Fahrplan</a>
    </div>
  </center>
  <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
  <!-- {{ .Content }} -->
  <div class="section">
    {{ partial "räume.html" . }}
  </div>
  <div class="section">
    {{ partial "timetable.html" . }}
  </div>
{{ end }}
