<center id="code-of-concuct">
  <h1 class="big">Code of Conduct</h1>
</center>

<div>
	<p>
	Alle Freiräume sind Plätze, in denen sich Personen wohl und sicher fühlen sollen und in denen allen gegenüber respektvoll begegnet wird. <br/>
	Jeder Raum hat zwar seine eigenen Hausregeln (die bei den jeweiligen Räumen zu erfahren sind), über alle lassen sich aber folgende gemeinsame Punkte zusammenfassen:	
	</p>
	
	<ul>
		<li>Wir sind respektvoll zueinander und nehmen Rücksicht auf Andere.</li>
		<li>Belästigung, Mobbing oder Diskriminierung ist inakzeptabel.</li>
		<li>Die Organisator:innen/Veranstalter des jeweiligen Raums haben Hausrecht und können dürfen jederzeit die Regeln vor Ort bestimmen.</li>
		<li>Anweisungen der Organisator:innen/Veranstalter werden ohne Diskussion befolgt.</li>
	</ul>
	
</div>
